<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div>
    <table border>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Autor</th>
          <th>Cena</th>
          <th>Wydawnictwo</th>
          <th>Kategoria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="book: ${bookList}">
          <tr>
            <td>[[${book.name}]]</td>
            <td>[[${book.author}]]</td>
            <td>[[${book.price}]]zł</td>
            <td>[[${book.publishing}]]</td>
            <td>[[${book.category.name}]]</td>
            <td><a th:href="@{'/books/delete/'+${book.id}}">Usuń</a></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <a th:href="@{/books/add}">Dodaj książkę</a>
  </div>

</body>
</html>